<template>
  <v-app id="dop-app">
    <Loader v-if="loading" /> 
    
    <Notifications
      v-else
      :notifications="notifications"
      :notificationsCounter="notificationsCounter" />
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'
import Notifications from '@/components/Notifications'
import Loader from '@/components/Loader'

export default {
  name: 'app',
  components: {
    Notifications,
    Loader
  },
  created () {
    this.$store.dispatch('loadData')
  },
  computed: {
    ...mapGetters({
      notifications: 'getNotifications',
      notificationsCounter: 'getNotificationsCounter',
      loading: 'getLoading'
    })
  }
}
</script>

<style>
  #dop-app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  .application--wrap {
    background-color: white;
  }

  /* overriding vuetify styles */
  .dop-badge > .v-badge__badge {
    position: absolute;
    right: -17px !important;
    top: -17px !important;
  }
</style>
